/*-------------------- Typography --------------------*/

p {
  font-family: maisonneue_book;
  font-size: 18px;
}

.Heading {
  font-family: druk_text;
  font-size: 36px;
}

@media only screen and (max-width: 800px) {
  p {
    font-size: 16px;
  }

  .Heading {
    font-size: 20px;
  }
}

/*-------------------- Splash --------------------*/

.Splash {
  background: #000;
  color: #fff;
  padding: var(--padding);
  height: 100vh;
  display: flex;
  align-items: center;
}

.Splash h3 {
  position: absolute;
  top: var(--padding);
  font-family: druk_text;
  z-index: 1000;
}

.Splash h1 {
  position: relative;
  font-family: druk_text;
  width: 650px;
  z-index: 1000;
}

.Splash h1 span {
  opacity: 0.5;
}

/*-------------------- Works --------------------*/

.Works {
  background: var(--background);
  padding: var(--padding);
}

.Works .Info {
  min-width: 300px;
}

.Works h1 {
  font-family: maisonneue_bold;
  font-size: 36px;
  color: var(--text);
}

.Works h4 {
  font-family: druk_text;
  font-size: 14px;
  margin-bottom: 15px;
  opacity: 0.5;
  color: var(--text);
}

.Works .Work {
  display: flex;
  margin-bottom: var(--padding);
}

@media only screen and (max-width: 800px) {
  .Works .Work {
    display: block;
  }

  .Works .Info {
    min-width: 0;
    margin-bottom: var(--padding);
  }
}

/*-------------------- About --------------------*/

.About {
  background: var(--background);
}

.About .Container {
  background: var(--grey);
  padding: var(--padding);
  margin-right: var(--padding);
  display: flex;
}

.About .AvatarContainer {
  display: flex;
  align-items: center;
}

.About .Text {
  padding: var(--padding);
  padding-right: 0;
}

.About .Text p {
  margin-bottom: 40px;
}

.About .Text .NameLocation {
  display: flex;
  justify-content: space-between;
}

.About .Text .NameLocation p {
  font-family: maisonneue_bold;
  margin-bottom: 0;
}

@media only screen and (max-width: 800px) {
  .About .Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }

  .About .Text {
    text-align: left;
    padding: var(--padding) 0 0 0;
  }

  .About .Avatar {
    width: 200px;
  }
}

/*-------------------- Contact --------------------*/

.Contact {
  background: var(--background);
  padding: calc(var(--padding) * 3.5) var(--padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Contact .TextBox {
  display: flex;
}

.Contact .TextBox span {
  font-size: 60px;
  margin-right: 40px;
}

.Contact .TextBox .Heading,
.Contact .TextBox .Heading a {
  color: var(--text);
}

.Contact .TextBox .Heading a:after,
.Contact .TextBox .Heading a:before {
  height: 2px;
}

@media only screen and (max-width: 800px) {
  .Contact {
    display: block;
    text-align: center;
  }

  .Contact .TextBox {
    display: block;
  }

  .Contact .TextBox span {
    margin-right: 0;
  }

  .Contact .TextBox .Heading {
    margin: 5px 0 30px 0;
  }

  .Contact br {
    display: none;
  }
}
