/*-------------------- Typography --------------------*/

p {
  font-family: maisonneue_book;
  font-size: 18px;
}

.Heading {
  font-family: druk_text;
  font-size: 36px;
}

@media only screen and (max-width: 800px) {
  p {
    font-size: 16px;
  }

  .Heading {
    font-size: 20px;
  }
}

/*-------------------- Splash --------------------*/

.Splash {
  background: var(--blue);
  color: #fff;
  padding: 100px;
}

.Splash .Heading {
  margin-bottom: 30px;
}

@media only screen and (max-width: 800px) {
  .Splash {
    display: block;
    height: auto;
    position: relative;
  }

  .Splash .Text {
    padding: 0 var(--padding);
  }

  .Splash .Avatar {
    padding: var(--padding) 0;
    margin: var(--padding) 0;
  }
}

/*-------------------- Works --------------------*/

.Works {
  background: #fff;
  padding: var(--padding);
}

.Works .Heading {
  min-width: 300px;
}

.Works .Websites,
.Works .WebApps {
  display: flex;
}

.Works .Websites {
  margin-bottom: var(--padding);
}

@media only screen and (max-width: 800px) {
  .Works {
    padding: 0;
  }

  .Works .SubHeading {
    margin-left: var(--padding);
  }

  .Works .Card .SubHeading {
    margin-left: 0;
  }

  .Works .Card {
    padding: var(--padding);
  }
}

/*-------------------- About --------------------*/

.About {
  background: var(--grey);
  padding: var(--padding);
  margin-right: var(--padding);
  display: flex;
}

.About .Text {
  padding: var(--padding);
  padding-right: 0;
}

.About .Text p {
  margin-bottom: 40px;
}

.About .Text .NameLocation {
  display: flex;
  justify-content: space-between;
}

.About .Text .NameLocation p {
  font-family: maisonneue_bold;
  margin-bottom: 0;
}

/*-------------------- Contact --------------------*/

.Contact {
  background: #fff;
  padding: calc(var(--padding) * 3.5) var(--padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Contact .TextBox {
  display: flex;
}

.Contact .TextBox span {
  font-size: 60px;
  font-family: DrukRegular;
  margin-right: 40px;
}

.Contact .TextBox .Heading,
.Contact .TextBox .Heading a {
  color: #000;
}

.Contact .TextBox .Heading a:after,
.Contact .TextBox .Heading a:before {
  height: 2px;
}

@media only screen and (max-width: 800px) {
  .Contact {
    display: block;
    height: auto;
    padding: 50px var(--padding);
    text-align: center;
  }

  .Contact .TextBox {
    display: block;
  }

  .Contact .TextBox .Heading {
    margin: 5px 0 30px 0;
  }
}
