.Browser {
  height: 85%;
  box-shadow: var(--shadow);
  border-radius: 5px;
}

.Browser .Bar {
  height: 20px;
  background: #dcdce0;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.Browser .Bar .Dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #000;
  margin-left: 5px;
}

.Browser img {
  height: calc(100% - 20px);
}

@media only screen and (max-width: 800px) {
}
