.Showcase {
  position: relative;
  width: 100%;
  height: 475px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}

.Showcase .Carousel {
  display: flex;
  width: 100%;
  height: 100%;
  transition: all 700ms;
  transition-timing-function: cubic-bezier(0.59, 0.01, 0.4, 1);
}

.Showcase .Carousel .Wrapper {
  overflow: hidden;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.Showcase .Carousel .Wrapper .Browser {
  height: 85%;
  background: #fff;
  box-shadow: var(--shadow);
  overflow: hidden;
  border-radius: 8px;
}

.Showcase .Carousel .Wrapper .Browser .Bar {
  display: block;
  width: 100%;
  height: 20px;
  background: #dcdce0;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.Showcase .Carousel .Wrapper .Browser .Bar .Dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #000;
  margin-left: 5px;
}

.Showcase .Carousel .Wrapper .Browser .Image {
  max-height: calc(100% - 20px);
  object-fit: contain;
}

@media only screen and (max-width: 800px) {
  .Showcase .Carousel .Wrapper .Browser {
    height: auto;
    max-height: 85%;
    max-width: 85%;
  }
}

.Showcase .Indicators {
  position: absolute;
  top: 15px;
  left: 15px;
  width: calc(100% - 30px);
  display: flex;
  justify-content: space-between;
}

.Showcase .Indicators .Indicator {
  display: block;
  height: 2px;
  background: rgba(102, 103, 120, 1);
}

.Showcase .Indicators .Indicator .Bar {
  display: block;
  height: 100%;
  background: rgba(191, 191, 191, 1);
}
