.Footer {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px var(--padding);
}

.Footer .Links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Footer .Links a {
  font-family: maisonneue_book;
}

.Footer .Links .Divider {
  background: #000;
  width: 5px;
  height: 1px;
  margin: 0 10px;
}

@media only screen and (max-width: 800px) {
  .Footer {
    text-align: center;
    display: block;
  }

  .Footer .Links {
    margin-top: 30px;
  }
}
