.Nav {
  position: absolute;
  padding: 45px var(--padding);
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Nav h3 {
  font-family: druk_text;
  color: #fff;
}

.Nav .Links a {
  color: #fff;
  margin-left: 45px;
  font-family: maisonneue_book;
  font-size: 18px;
}

.Nav .Links a::before,
.Nav .Links a::after {
  background: var(--blue);
}
